
.example {/*親div*/
  position: relative;/*相対配置*/
  }

.example p {
  position: absolute;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 0;
  left: 0;
  }
  
.example img {
/*  width: 100%;*/ 
}


 